npm-debug.log
node_modules
bower_components
dist
config.sh
templates

*.sublime-*

### OSX ###
.DS_Store
.AppleDouble
.LSOverride

### PhpStorm ###
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm
*.iml

## Directory-based project format:
.idea/