<div class="container">
  <div class="row">
    <div class="twelve columns">
      <h4 id="events">Events</h4>
      <span>
        <button ng-click="queryEvents()">Refresh</button>
        <label for="filterEvents">Filter</label>
        <input class="u-full-width" type="text" placeholder="Name..." id="filterEvents" ng-model="filterEvents">
      </span>
      <table class="u-full-width">
        <thead>
          <tr>
            <th>Ident</th>
            <th>Navn</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="event in events | filter:filterEvents">
            <td>{{event.ident}}</td>
            <td>{{event.name}}</td>
            <td><a ng-href="#/{{event.ident}}">Edit</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>