<div class="container">
  <div class="row">
    <div class="twelve columns">
      <h4 id="events">Songs in {{event.name}}</h4>
    </div>
  </div>
  <div class="row">
    <div class="twelve columns">
      <span>
        <a class="button" ng-href="#/">Back</a>
        <button ng-click="getEvent()">Refresh songlist</button>
        <button ng-click="setAllActive()" ng-class="(event.active_all===true) ? 'button-primary' : ''">All songs open for voting</button>
        <button ng-click="setAllInactive()" ng-class="(event.active===false) ? 'button-primary' : ''">Event stopped</button>
      </span>
    </div>
  </div>
  <div class="row">
    <div class="twelve columns">
      <table class="u-full-width">
        <thead>
          <tr>
            <th>Title</th>
            <th>Artist</th>
            <th>Order</th>
            <th>Likes</th>
            <th>Dislikes</th>
            <th>Total</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="song in event.songs">
            <td>{{song.title}}</td>
            <td>{{song.artist}}</td>
            <!-- <td><input type="number" ng-model="song.play_order" ng-change="" max="100" min="1" /></td> -->
            <td>{{song.play_order}}</td>
            <td>{{song.likes}}</td>
            <td>{{song.dislikes}}</td>
            <td>{{song.total}}</td>
            <td><button ng-click="setNowPlaying(song.id)" ng-class="(song.nowplaying===1) ? 'button-primary' : ''">Now playing</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
